{% include site-nav.html %}

  <header class="page-header">

    <div class="wrap">

      <div class="intro-copy">
        <h1>陈 赫</h1>
        <h2>移动端/前端 开发者</h2>
        <p class="description">Hello,我是一名前端开发者,目前主要擅长React Native开发,涉及移动端(iOS,android)原生语言开发和前端的(JS,CSS,html,es5,es6)</p>
        <div class="social-media-links">
          <a href="https://github.com/Geek-ch" class="icon-link" target="_blank">{% include icons/icon-github.html %}</a>
          <a href="https://www.jianshu.com/u/1c9b6c03f595" class="icon-link" target="_blank">简书</a>
        </div>
      </div>

      <div class="my-avatar home">
        <img class="joel-photo" src="/img/my-photo.jpg" alt="CH avatar" />
      </div>

    </div>

  </header>
